/* section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color:white;
  padding: 2rem;
  border-radius: 12px;
} */

@media screen and (max-width:550px){

  section{
      margin: 0px;
      margin-right: 2px;
      padding: 2px;
  }
}

@media screen and (max-width:450px){

  section{
      margin: 0px;
      padding: 2px;
  }
}

button {
  font: inherit;
  cursor: pointer;
  background: #FC4445;
  border: 1px solid #FC4445;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #6b1d1d;
  border-color: #6b1d1d;
  color:white;
}
